In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("/Users/ismaelcisse/Desktop/Tech Challenge/TechChallengeData.csv")

In [4]:
data.head()

,distance,consume,speed,temp_inside,temp_outside,gas_type,AC,rain,sun,gas_consumed,amount
0,28.0,5.0,26,21.5,12,E10,0,0,0,1.4000,2.01
1,12.0,4.2,30,21.5,13,E10,0,0,0,0.5040,0.73
2,11.2,5.5,38,21.5,15,E10,0,0,0,0.6160,0.89
3,12.9,3.9,36,21.5,14,E10,0,0,0,0.5031,0.72
4,18.5,4.5,46,21.5,15,E10,0,0,0,0.8325,1.20